body{
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    margin: 0 ;
}
.hero{
    display: flex;
    width: 100%;
}
.bg{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.about{
    width: 50%;
    padding-left: 25px;
    text-align: justify;
}
.about img{
    width: 80%;
    margin-top: 80px;
}
h1{
    font-size: 45px;
}
#name{
    color: crimson;
    font-size: 60px;
}
#name:hover{
    color: coral;
}
h2{
    font-size: 25px;
    color: crimson;
    text-shadow: 4px 3px 7px tomato;
}
#link{
    text-decoration: none;
    color: white;
    background-color: rgb(65, 122, 245);
    padding: 10px 30px;
    display: inline-block;
    margin-top: 10px;
    border-radius: 10px;
    font-weight: 800;
}
#link:hover{
    background-color: crimson;
    color: black;
}



#amb{
    color: rgb(85, 228, 168);
}
#be{
    font-size: 20px;
    color: lightslategray;
    text-shadow: 4px 3px 7px lightslategray;
}
#suc{
    color: crimson;
    font-size: 30px;
    font-weight: 800;
}
#ig{
    text-decoration: none;
    color: white ;
    background-image: linear-gradient(rgb(69, 122, 235),rgb(230, 77, 230),rgb(221, 85, 131));
    padding: 10px 30px;
    display: inline-block ;
    margin-top: 10px;
    border-radius: 10px;
    font-weight: 800;
}
#ig:hover{
    color: rgb(85, 228, 168);
}
.bottom{
    text-align: center;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 40px;
}
.lbg{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}